src/consumer/code/stepfunctions/consumer_manage_subscription_revoke_workflow.asl.json
{
    "Comment": "State machine to orchestrate activities to manage dataset subscription revocations on consumer side",
    "StartAt": "Delete / keep subscription secret?",
    "States": {
        "Delete / keep subscription secret?": {
            "Type": "Choice",
            "Default": "Keep subscription secret",
            "Choices": [
                {
                    "Next": "Delete subscription secret",
                    "StringEquals": "true",
                    "Variable": "$.DeleteKeepSubscriptionSecretDetails.SecretDeleted"
                }
            ]
        },
        "Delete subscription secret": {
            "Type": "Task",
            "Next": "Remove subscription records",
            "Parameters": {
                "FunctionName": "${c_delete_subscription_secret_lambda_arn}",
                "Payload.$": "$"
            },
            "Resource": "arn:aws:states:::lambda:invoke",
            "ResultPath": "$.DeleteSubscriptionSecretDetails",
            "ResultSelector": {
                "SecretArn.$": "$.Payload.secret_arn",
                "SecretName.$": "$.Payload.secret_name"
            }
        },
        "Keep subscription secret": {
            "Type": "Pass",
            "Next": "Remove subscription records",
            "ResultPath": null
        },
        "Remove subscription records": {
            "Type": "Task",
            "End": true,
            "Parameters": {
                "FunctionName": "${c_remove_subscription_records_lambda_arn}",
                "Payload.$": "$"
            },
            "Resource": "arn:aws:states:::lambda:invoke",
            "ResultPath": "$.RemoveSubscriptionRecordsDetails",
            "ResultSelector": {
                "DataZoneConsumerProjectId.$": "$.Payload.datazone_consumer_project_id",
                "DataZoneAssetName.$": "$.Payload.datazone_asset_name"
            }
        }
    }
}