src/consumer/code/stepfunctions/consumer_manage_subscription_revoke_workflow.asl.json
{
    "Comment": "State machine to orchestrate activities to manage dataset subscription revocations on consumer side",
    "StartAt": "Remove subscription records",
    "States": {
        "Remove subscription records": {
            "Type": "Task",
            "Next": "Delete / keep subscription secret?",
            "Parameters": {
                "FunctionName": "${c_remove_subscription_records_lambda_arn}",
                "Payload.$": "$"
            },
            "Resource": "arn:aws:states:::lambda:invoke",
            "ResultPath": "$.RemoveSubscriptionRecordsDetails",
            "ResultSelector": {
                "DataZoneConsumerEnvironmentId.$": "$.Payload.datazone_consumer_environment_id",
                "DataZoneConsumerProjectId.$": "$.Payload.datazone_consumer_project_id",
                "DataZoneDomainId.$": "$.Payload.datazone_domain_id",
                "DataZoneAssetId.$": "$.Payload.datazone_asset_id",
                "DataZoneAssetRevision.$": "$.Payload.datazone_asset_revision",
                "DataZoneAssetType.$": "$.Payload.datazone_asset_type",
                "DataZoneListingId.$": "$.Payload.datazone_listing_id",
                "DataZoneListingRevision.$": "$.Payload.datazone_listing_revision",
                "DataZoneListingName.$": "$.Payload.datazone_listing_name",
                "SecretArn.$": "$.Payload.secret_arn",
                "SecretName.$": "$.Payload.secret_name",
                "OwnerAccount.$": "$.Payload.owner_account",
                "OwnerRegion.$": "$.Payload.owner_region",
                "LastUpdated.$": "$.Payload.last_updated"
            }
        },
        "Delete / keep subscription secret?": {
            "Type": "Choice",
            "Default": "Keep subscription secret",
            "Choices": [
                {
                    "Next": "Delete subscription secret",
                    "StringEquals": "true",
                    "Variable": "$.ProducerRevokeDetails.SecretDeleted"
                }
            ]
        },
        "Keep subscription secret": {
            "Type": "Pass",
            "End": true,
            "Parameters": {
                "SecretArn.$": "$.RemoveSubscriptionRecordsDetails.SecretArn",
                "SecretName.$": "$.RemoveSubscriptionRecordsDetails.SecretName",
                "SecretDeleted": "false",
                "SecretDeletionDate": "None",
                "SecretRecoveryWindowInDays": "None"
            },
            "ResultPath": "$.DeleteSubscriptionSecretDetails"
        },
        "Delete subscription secret": {
            "Type": "Task",
            "End": true,
            "Parameters": {
                "FunctionName": "${c_delete_subscription_secret_lambda_arn}",
                "Payload.$": "$"
            },
            "Resource": "arn:aws:states:::lambda:invoke",
            "ResultPath": "$.DeleteSubscriptionSecretDetails",
            "ResultSelector": {
                "SecretArn.$": "$.Payload.secret_arn",
                "SecretName.$": "$.Payload.secret_name",
                "SecretDeleted.$": "$.Payload.secret_deleted",
                "SecretDeletionDate.$": "$.Payload.secret_deletion_date",
                "SecretRecoveryWindowInDays.$": "$.Payload.secret_recovery_window_in_days"
            }
        }
    }
}