src/consumer/code/stepfunctions/consumer_manage_subscription_grant_workflow.asl.json
{
    "Comment": "State machine to orchestrate activities to manage dataset subscription grants on consumer side",
    "StartAt": "New secret?",
    "States": {
        "New secret?": {
            "Type": "Choice",
            "Default": "Secret already shared",
            "Choices": [
                {
                    "Next": "Copy subscription secret",
                    "StringEquals": "true",
                    "Variable": "$.ProducerGrantDetails.NewSubscriptionSecret"
                }
            ]
        },
        "Secret already shared": {
            "Type": "Pass",
            "Next": "Update subscription records",
            "ResultPath": null
        },
        "Copy subscription secret": {
            "Type": "Task",
            "Next": "Update subscription records",
            "Parameters": {
                "FunctionName": "${c_copy_subscription_secret_lambda_arn}",
                "Payload.$": "$"
            },
            "Resource": "arn:aws:states:::lambda:invoke",
            "ResultPath": "$.CopySubscriptionSecretDetails",
            "ResultSelector": {
                "SecretArn.$": "$.Payload.secret_arn",
                "SecretName.$": "$.Payload.secret_name"
            }
        },
        "Update subscription records": {
            "Type": "Task",
            "End": true,
            "Parameters": {
                "FunctionName": "${c_update_subscription_records_lambda_arn}",
                "Payload.$": "$"
            },
            "Resource": "arn:aws:states:::lambda:invoke",
            "ResultPath": "$.UpdateSubscriptionRecordsDetails",
            "ResultSelector": {
                "DataZoneConsumerEnvironmentId.$": "$.Payload.datazone_consumer_environment_id",
                "DataZoneConsumerProjectId.$": "$.Payload.datazone_consumer_project_id",
                "DataZoneDomainId.$": "$.Payload.datazone_domain_id",
                "DataZoneAssetId.$": "$.Payload.datazone_asset_id",
                "DataZoneAssetRevision.$": "$.Payload.datazone_asset_revision",
                "DataZoneAssetType.$": "$.Payload.datazone_asset_type",
                "DataZoneListingId.$": "$.Payload.datazone_listing_id",
                "DataZoneListingRevision.$": "$.Payload.datazone_listing_revision",
                "DataZoneListingName.$": "$.Payload.datazone_listing_name",
                "SecretArn.$": "$.Payload.secret_arn",
                "SecretName.$": "$.Payload.secret_name",
                "OwnerAccount.$": "$.Payload.owner_account",
                "OwnerRegion.$": "$.Payload.owner_region",
                "LastUpdated.$": "$.Payload.last_updated"
            }
        }
    }
}