src/producer/code/stepfunctions/producer_manage_subscription_grant_workflow.asl.json
{
    "Comment": "State machine to orchestrate activities to manage dataset subscription grants on the producer side",
    "StartAt": "Get connection details",
    "States": {
        "Get connection details": {
            "Type": "Task",
            "Next": "Which connection type?",
            "Parameters": {
                "FunctionName": "${p_get_connection_details_lambda_arn}",
                "Payload.$": "$"
            },
            "Resource": "arn:aws:states:::lambda:invoke",
            "ResultPath": "$.ConnectionDetails",
            "ResultSelector": {
                "ConnectionType.$": "$.Payload.ConnectionType",
                "ConnectionArn.$": "$.Payload.ConnectionArn",
                "ConnectionName.$": "$.Payload.ConnectionName",
                "ConnectionProperties.$": "$.Payload.ConnectionProperties",
                "ConnectionAssetName.$": "$.Payload.ConnectionAssetName",
                "ConnectionCrawlerName.$": "$.Payload.ConnectionCrawlerName"
            }
        },
        "Which connection type?": {
            "Type": "Choice",
            "Default": "Unsupported connection type",
            "Choices": [
                {
                    "Next": "Grant JDBC subscription",
                    "StringEquals": "JDBC",
                    "Variable": "$.ConnectionDetails.ConnectionType"
                }
            ]
        },
        "Unsupported connection type": {
            "Type": "Fail",
            "Error": "Unsupported connection type"
        },
        "Grant JDBC subscription": {
            "Type": "Task",
            "Next": "Share subscription secret",
            "Parameters": {
                "FunctionName": "${p_grant_jdbc_subscription_lambda_arn}",
                "Payload.$": "$"
            },
            "Resource": "arn:aws:states:::lambda:invoke",
            "ResultPath": "$.GrantSubscriptionDetails",
            "ResultSelector": {
                "ConnectionArn.$": "$.Payload.glue_connection_arn",
                "DatazoneConsumerEnvironmentId.$": "$.Payload.datazone_consumer_environment_id",
                "DatazoneConsumerProjectId.$": "$.Payload.datazone_consumer_project_id",
                "DatazoneDomainId.$": "$.Payload.datazone_domain_id",
                "SecretArn.$": "$.Payload.secret_arn",
                "SecretName.$": "$.Payload.secret_name",
                "DataAssets.$": "$.Payload.data_assets",
                "OwnerAccount.$":  "$.Payload.owner_account",
                "OwnerRegion.$":  "$.Payload.owner_region",
                "LastUpdated.$":  "$.Payload.last_updated",
                "NewSubscriptionSecret.$":  "$.Payload.new_subscription_secret"
            }
        },
        "Share subscription secret": {
            "Type": "Task",
            "End": true,
            "Parameters": {
                "FunctionName": "${p_share_subscription_secret_lambda_arn}",
                "Payload.$": "$"
            },
            "Resource": "arn:aws:states:::lambda:invoke",
            "ResultPath": "$.ShareSubscriptionSecretDetails",
            "ResultSelector": {
                "SecretName.$": "$.Payload.secret_name",
                "SecretArn.$": "$.Payload.secret_arn",
                "NewSubscriptionSecret.$":  "$.Payload.new_subscription_secret",
                "SubscriptionConsumerRoles.$": "$.Payload.subscription_consumer_roles"
            }
        }
    }
}