src/governance/code/stepfunctions/governance_manage_subscription_grant_workflow.asl.json
{
    "Comment": "State machine to orchestrate activities to manage dataset subscription grants on consumer and producer side",
    "StartAt": "Get Subscription Details",
    "States": {
        "Get Subscription Details": {
            "Type": "Task",
            "Next": "Which asset type?",
            "Parameters": {
                "FunctionName": "${g_get_subscription_details_lambda_arn}",
                "Payload.$": "$"
            },
            "Resource": "arn:aws:states:::lambda:invoke",
            "ResultPath": "$.SubscriptionDetails",
            "ResultSelector": {
                "DomainId.$": "$.Payload.DomainId",
                "ProducerProjectDetails.$": "$.Payload.ProducerProjectDetails",
                "ConsumerProjectDetails.$": "$.Payload.ConsumerProjectDetails",
                "ListingDetails.$": "$.Payload.ListingDetails",
                "AssetDetails.$": "$.Payload.AssetDetails"
            }
        },
        "Which asset type?": {
            "Type": "Choice",
            "Default": "Unsupported asset type",
            "Choices": [
                {
                    "Next": "Get cross-account resource ARNs",
                    "StringEquals": "GlueTableAssetType",
                    "Variable": "$.SubscriptionDetails.AssetDetails.Type"
                }
            ]
        },
        "Unsupported asset type": {
            "Type": "Pass",
            "End": true,
            "ResultPath": null
        },
        "Get cross-account resource ARNs": {
            "Type": "Pass",
            "Next": "Manage Subscription Grant - Producer",
            "Parameters": {
                "ProducerStateMachineArn.$": "States.Format('arn:aws:states:{}:{}:stateMachine:${p_manage_subscription_grant_state_machine_name}', $.SubscriptionDetails.AssetDetails.GlueTableDetails.Region, $.SubscriptionDetails.AssetDetails.GlueTableDetails.AccountId)",
                "ProducerAssumeRoleArn.$": "States.Format('arn:aws:iam::{}:role/${a_cross_account_assume_role_name}', $.SubscriptionDetails.AssetDetails.GlueTableDetails.AccountId)",
                "ConsumerStateMachineArn.$": "States.Format('arn:aws:states:{}:{}:stateMachine:${c_manage_subscription_grant_state_machine_name}', $.SubscriptionDetails.ConsumerProjectDetails.Region, $.SubscriptionDetails.ConsumerProjectDetails.AccountId)",
                "ConsumerAssumeRoleArn.$": "States.Format('arn:aws:iam::{}:role/${a_cross_account_assume_role_name}', $.SubscriptionDetails.ConsumerProjectDetails.AccountId)"
            },
            "ResultPath": "$.CrossAccountResources"
        },
        "Manage Subscription Grant - Producer": {
            "Type": "Task",
            "Next": "Manage Subscription Grant - Consumer",
            "Parameters": {
                "Input": {
                    "SubscriptionDetails.$": "$.SubscriptionDetails"
                },
                "StateMachineArn.$": "$.CrossAccountResources.ProducerStateMachineArn"
            },
            "Resource": "arn:aws:states:::states:startExecution.sync:2",
            "Credentials": {
                "RoleArn.$": "$.CrossAccountResources.ProducerAssumeRoleArn"
            },
            "ResultPath": "$.ProducerGrantDetails",
            "ResultSelector": {
                "SecretArn.$": "$.Output.ShareSubscriptionSecretDetails.SecretArn",
                "SecretName.$": "$.Output.ShareSubscriptionSecretDetails.SecretName",
                "SubscriptionConsumerRoles.$": "$.Output.ShareSubscriptionSecretDetails.SubscriptionConsumerRoles",
                "NewSubscriptionSecret.$": "$.Output.ShareSubscriptionSecretDetails.NewSubscriptionSecret"
            }
        },
        "Manage Subscription Grant - Consumer": {
            "Type": "Task",
            "End": true,
            "Parameters": {
                "Input": {
                    "SubscriptionDetails.$": "$.SubscriptionDetails",
                    "ProducerGrantDetails.$": "$.ProducerGrantDetails"
                },
                "StateMachineArn.$": "$.CrossAccountResources.ConsumerStateMachineArn"
            },
            "Resource": "arn:aws:states:::states:startExecution.sync:2",
            "Credentials": {
                "RoleArn.$": "$.CrossAccountResources.ConsumerAssumeRoleArn"
            },
            "ResultPath": "$.ConsumerGrantDetails",
            "ResultSelector": {
                "DataZoneConsumerEnvironmentId.$": "$.Output.UpdateSubscriptionRecordsDetails.DataZoneConsumerEnvironmentId",
                "DataZoneAssetId.$": "$.Output.UpdateSubscriptionRecordsDetails.DataZoneAssetId",
                "SecretArn.$": "$.Output.UpdateSubscriptionRecordsDetails.SecretArn",
                "SecretName.$": "$.Output.UpdateSubscriptionRecordsDetails.SecretName"
            }
        }
    }
}