src/governance/code/stepfunctions/governance_manage_subscription_grant_workflow.asl.json
{
    "Comment": "State machine to orchestrate activities to manage dataset subscription grants on consumer and producer side",
    "StartAt": "Get producer / consumer cross-account resource ARNs",
    "States": {
        "Get producer / consumer cross-account resource ARNs": {
            "Type": "Pass",
            "Next": "Manage Subscription Grant - Producer",
            "Parameters": {
                "ProducerStateMachineArn.$": "States.Format('arn:aws:states:${region}:{}:stateMachine:${p_manage_subscription_grant_state_machine_name}', $.EventDetails.sourceAccountId)",
                "ProducerAssumeRoleArn.$": "States.Format('arn:aws:iam::{}:role/${a_cross_account_assume_role_name}', $.EventDetails.sourceAccountId)",
                "ConsumerStateMachineArn.$": "States.Format('arn:aws:states:${region}:{}:stateMachine:${c_manage_subscription_grant_state_machine_name}', States.ArrayGetItem(States.StringSplit($.EventDetails.projectRoles[0], ':'), 3))",
                "ConsumerAssumeRoleArn.$": "States.Format('{}/${a_cross_account_assume_role_name}', States.ArrayGetItem(States.StringSplit($.EventDetails.projectRoles[0], '/'), 0))"
            },
            "ResultPath": "$.CrossAccountResources"
        },
        "Manage Subscription Grant - Producer": {
            "Type": "Task",
            "Next": "Manage Subscription Grant - Consumer",
            "Parameters": {
                "Input": {
                    "EventDetails.$": "$.EventDetails"
                },
                "StateMachineArn.$": "$.CrossAccountResources.ProducerStateMachineArn"
            },
            "Resource": "arn:aws:states:::states:startExecution.sync:2",
            "Credentials": {
                "RoleArn.$": "$.CrossAccountResources.ProducerAssumeRoleArn"
            },
            "ResultPath": "$.ProducerManageSubscriptionGrantDetails",
            "ResultSelector": {
                "SecretArn.$": "$.Output.ShareSubscriptionSecretDetails.SecretArn",
                "SecretName.$": "$.Output.ShareSubscriptionSecretDetails.SecretName",
                "SubscriptionConsumerRoles.$": "$.Output.ShareSubscriptionSecretDetails.SubscriptionConsumerRoles",
                "NewSubscriptionSecret.$": "$.Output.ShareSubscriptionSecretDetails.NewSubscriptionSecret"
            }
        },
        "Manage Subscription Grant - Consumer": {
            "Type": "Task",
            "End": true,
            "Parameters": {
                "Input": {
                    "EventDetails.$": "$.EventDetails",
                    "ShareSubscriptionSecretDetails.$": "$.ProducerManageSubscriptionGrantDetails"
                },
                "StateMachineArn.$": "$.CrossAccountResources.ConsumerStateMachineArn"
            },
            "Resource": "arn:aws:states:::states:startExecution.sync:2",
            "Credentials": {
                "RoleArn.$": "$.CrossAccountResources.ConsumerAssumeRoleArn"
            },
            "ResultPath": "$.ConsumerManageSubscriptionGrantDetails",
            "ResultSelector": {
                "DataZoneConsumerProjectId.$": "$.Output.UpdateSubscriptionRecordsDetails.DataZoneConsumerProjectId",
                "DataZoneAssetName.$": "$.Output.UpdateSubscriptionRecordsDetails.DataZoneAssetName",
                "SecretArn.$": "$.Output.UpdateSubscriptionRecordsDetails.SecretArn",
                "SecretName.$": "$.Output.UpdateSubscriptionRecordsDetails.SecretName"
            }
        }
    }
}